.alert-modal {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #A532FF;
    color: #fefefe;
    height: auto;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 20px;
    opacity: 0;
    animation: fade-in 0.8s ease-in forwards, fade-out 0.8s 4s ease-out forwards;
    transition: opacity 1s ease-out;
    z-index: 1100;
}

.alert-modal.success {
    background-color: #A532FF;
}

.alert-modal.failed {
    background-color: #c62828;
}

@keyframes fade-in {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        top: 50px;
        opacity: 1;
    }
    to {
        top: -100px;
        opacity: 0;
    }
}