.profile-pic {
    width: 80px; /* Adjust width and height as needed */
    height: 80px;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Hide overflowing content */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff; /* Optional: Add border */
}

.profile-pic img {
    max-width: 100%; /* Ensure the image fits within the circle */
    height: auto; /* Maintain aspect ratio */
}


.profile-pic-card {
    width: 60px; /* Adjust width and height as needed */
    height: 60px;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Hide overflowing content */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff; /* Optional: Add border */
}

.profile-pic-card img {
    max-width: 100%; /* Ensure the image fits within the circle */
    height: auto; /* Maintain aspect ratio */
}

.like-button {
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.like-button img {
    width: 24px; /* Optional: Adjust icon size */
}
