.profile-pic {
    width: 80px; /* Adjust width and height as needed */
    height: 80px;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Hide overflowing content */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff; /* Optional: Add border */
}

.profile-pic img {
    max-width: 100%; /* Ensure the image fits within the circle */
    height: auto; /* Maintain aspect ratio */
}

.custom-text-box {
    width: 900px; /* Adjust the width value as needed */
}

.profile-pic-card {
    width: 60px; /* Adjust width and height as needed */
    height: 60px;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Hide overflowing content */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff; /* Optional: Add border */
}

.profile-pic-card img {
    max-width: 100%; /* Ensure the image fits within the circle */
    height: auto; /* Maintain aspect ratio */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollable-container::-webkit-scrollbar {
    display: none;
    padding: 10px;
}

/* Hide scrollbar for Firefox */
.scrollable-container {
    scrollbar-width: none;
    padding: 10px;
}