@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --brand: rgba(165, 50, 255);
    --brand10: rgba(165, 50, 255, 0.1);
    --brand60: rgba(165, 50, 255, 0.6);
    --white: rgba(255, 255, 255);
    --lightgrey: rgba(170, 170, 170);
    --whitebg: rgba(241, 241, 241);

    --black: rgba(0, 0, 0);
    --darkgrey: rgba(85, 85, 85);
    --blackbg: rgba(18, 18, 18);
    
    --btn-bg-color: #A532FF;
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}

h6 {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
}


body {
    background-color: var(--whitebg);
}

.btn-hive {
    background-color: var(--btn-bg-color) !important;
    color: white;
}



.sidebar .nav-link.active {
    background-color: var(--link-active-bg);
}

.sidebar .nav-link.active img{
    filter: invert(50%) sepia(92%) saturate(1000%) hue-rotate(274deg) brightness(130%) contrast(55%);
}